absl-py==2.5.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1782986737989/work
aiohttp @ file:///D:/bld/aiohttp_1784900436109/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1733750398730/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_arrow_1760831179/work
astroid @ file:///D:/bld/astroid_1770634397186/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1783975656336/work
astunparse==1.6.3
asyncssh @ file:///home/conda/feedstock_root/build_artifacts/asyncssh_1778333921029/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1693061251004/work
babel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_babel_1772555330/work
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.tarfile_1767290467/work
backports.zstd @ file:///D:/bld/bld/rattler-build_backports.zstd_1781450845/work
bcrypt @ file:///D:/bld/bld/rattler-build_bcrypt_1762497739/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1780853104376/work
binaryornot @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_binaryornot_1773003768/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1779460840462/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1780675823/work
Brotli @ file:///D:/bld/brotli-split_1764017006836/work
cattrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cattrs_1771485958/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
cffi @ file:///D:/bld/cffi_1783424135337/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_chardet_1776140819/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1783505251992/work
click @ file:///D:/bld/bld/rattler-build_click_1783085395/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cloudpickle_1765303462/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy==1.3.3
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cookiecutter_1772630675/work
cryptography @ file:///D:/bld/cryptography-split_1781385307242/work
curl_cffi==0.15.0
cycler==0.12.1
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1780390185/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1779115150916/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1768934076236/work
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1734637534167/work
dill @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dill_1768863743/work
docstring-to-markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_docstring-to-markdown_1746284388/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1766092521263/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
filelock==3.32.0
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1739898391164/work
flatbuffers==25.12.19
fonttools==4.63.0
frozenlist @ file:///D:/bld/frozenlist_1779999730859/work
fsspec==2026.6.0
gast==0.7.0
google-pasta==0.2.0
grpcio==1.83.0
gssapi @ file:///D:/bld/python-gssapi_1770934595435/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1784898236/work
h5py==3.14.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1781620148/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1773752068233/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779714582/workimportlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1776068706467/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1734732140003/work
iniconfig==2.3.0
intervaltree @ file:///home/conda/feedstock_root/build_artifacts/intervaltree_1683532206518/work
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1760967073/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1782482745/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1772278416528/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jaraco.classes_1767294269/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jaraco.context_1776862415/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jaraco.functools_1784015600/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
jellyfish @ file:///D:/bld/jellyfish_1764104350170/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib==1.5.3
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1767839954/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1781019994/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
keras==3.15.0
keyring @ file:///D:/bld/keyring_1763320590410/work
kiwisolver==1.5.0
libclang==18.1.1
lsprotocol @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_lsprotocol_1750264551/work/dist
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1778169583724/work
MarkupSafe @ file:///D:/bld/markupsafe_1772444957495/work
matplotlib==3.11.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1733216466933/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mistune_1784722859/work
ml_dtypes==0.5.4
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_more-itertools_1779478190/work
mpmath==1.3.0
multidict @ file:///D:/bld/multidict_1771610627435/work
multitasking==0.0.13
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
namex==0.1.0
narwhals==2.24.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1780660955275/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1775615493/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.6.1
numpy==2.5.1
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpydoc_1764715638/work
opt_einsum==3.4.0
optree==0.19.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas==3.0.5
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1777271521463/work
patsy==1.0.2
peewee==4.2.6
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==12.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1784661349/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache @ file:///D:/bld/propcache_1780037677670/work
protobuf==7.35.1
psutil @ file:///D:/bld/bld/rattler-build_psutil_1769678176/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1733216196861/work
pyconify @ file:///home/conda/feedstock_root/build_artifacts/pyconify_1738865203119/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1733261631732/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1733216066937/work
PyGithub @ file:///home/conda/feedstock_root/build_artifacts/pygithub_1776161392480/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyjwt_1779400286/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pylint_1781449583/work
pylint-venv @ file:///home/conda/feedstock_root/build_artifacts/pylint-venv_1734789278875/work
pyls-spyder @ file:///home/conda/feedstock_root/build_artifacts/pyls-spyder_1736029828480/work
PyNaCl @ file:///D:/bld/pynacl_1783594364329/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyopenssl_1781402255/work
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5_sip @ file:///D:/bld/pyqt-split_1759495386442/work/pyqt_sip
PyQtWebEngine==5.15.7
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pytest==9.1.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-lsp-black @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-black_1736029913871/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1736013464386/work
python-lsp-ruff @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-lsp-ruff_1775073567/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server-meta_1765038548655/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1733756245724/work
pytokens @ file:///D:/bld/bld/rattler-build_pytokens_1778688864/work
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1733360721313/work
pytz==2026.3.post1
pyuca @ file:///home/conda/feedstock_root/build_artifacts/pyuca_1734685489013/work
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1781362878/work
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1762489719302/work
PyYAML @ file:///D:/bld/pyyaml_1770223249637/work
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1779483925/work
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1736088649807/work
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1732204919793/work/dist/qstylizer-0.2.4-py2.py3-none-any.whl#sha256=020f9e24a101c9478a6b32575838b93eeefacc8887520a67c172ba33ad22aa2c
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1775847903559/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1774450373074/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1749167083742/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
roman-numerals @ file:///home/conda/feedstock_root/build_artifacts/roman-numerals_1766002886874/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1752367182816/work
rpds-py @ file:///D:/bld/bld/rattler-build_rpds-py_1782831718/work
rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1755128329929/work
ruff @ file:///D:/bld/bld/rattler-build_ruff_1784938326/work
scikit-learn==1.9.0
scipy==1.18.0
setuptools==83.0.0
sip @ file:///D:/bld/sip_1759437825890/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1780468120386/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1784670615339/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1767271830144/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1733754101641/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1733754113405/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1733754280555/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1733753744933/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1733753408017/work
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1781260274145/work
spyder @ file:///D:/bld/spyder-base_1782517305845/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1782239502222/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels==0.14.6
superqt @ file:///home/conda/feedstock_root/build_artifacts/superqt_1782583447765/work
sympy==1.14.0
tensorflow==2.21.0
termcolor==3.3.0
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1733749896243/work
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1736082828021/work
threadpoolctl==3.6.0
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1736031697739/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomlkit_1784287707/work
torch==2.13.0
tornado @ file:///D:/bld/tornado_1781006772981/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1780507822/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1783704735836/work
ujson @ file:///D:/bld/bld/rattler-build_ujson_1781561640/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
watchdog @ file:///D:/bld/bld/rattler-build_watchdog_1772608059/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1782771721065/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websockets==16.1.1
whatthepatch @ file:///home/conda/feedstock_root/build_artifacts/whatthepatch_1736040839611/work
wheel==0.47.0
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt @ file:///D:/bld/wrapt_1782133607186/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1736192735449/work
yarl @ file:///D:/bld/yarl_1784526397336/work
yfinance==1.5.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work